{% extends 'base.html.twig' %}

{% block body %}
    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" class="btn" value="Start" />
    {{ form_end(form) }}
{% endblock %}